:root{
    --primary-color: #4CAF50;
    --primary-color-dark: #45a049;
    --secondary-color: #008CBA;
    --font-family: 'varela round', sans-serif;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}
*:focus{
    outline: none;
}
body{
    padding-top: 100px;
}